@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import "./../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  margin-top: 70px;
  font-family: "Muli", sans-serif;
}
header{
    .navbar-default{
        border-bottom: none;
        @media (min-width: $screen-sm) {
            .navbar-nav{
            float:right;
        }
        }
    .navbar-nav > {
        li{
            a{
                color:$gray-dark;
                &:hover{
                    background-color: $gray-lighter;
                }
            }
        }
        .active{
                > a{
                    background-color:transparent;
                    @media (min-width: $screen-sm) {
                        border-bottom: 2px solid $brand-primary;
                    }
                    pointer-events: none;
                }
            }
        }
    }
}


main {
  aside,
  section {
    padding-left: 15px;
    padding-right: 15px;
  }
  section {
    float: left;
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
    width: 70%;

    .blog-item {
      margin-bottom: 30px;
      img{
          margin-bottom: 15px;
      }
      h2 {
          margin-top:0;
        font-size: $font-size-h3;
      }
    }
  }
  aside {
    h2{
        margin-top:0;
    }
    @media (max-width: $screen-sm-max) {
      width: 100%;
    }

    width: 30%;
    float: right;
    margin-bottom: 30px;
  }
}
